<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Name <input type="text" id="landmark_name" name="landmark[name]">
  Year Completed <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  
  <br><input type="submit" id="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>