<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="post">
  Name <input type="text" id="landmark_name" name="landmark[name]">
  Year Completed <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  
  <br><input type="submit" id="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
